https://www.kaggle.com/ruchi798/movies-on-netflix-prime-video-hulu-and-disney

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [42]:
rating_db = pd.read_csv("MoviesOnStreamingPlatforms_updated.csv")

In [3]:
rating_db.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [5]:
def clacla(x):
    try:
        return x.split(",")
    except:
        return []

In [6]:
from collections import Counter

# Não mexer:
# sorted(list(Counter(rating_db["Directors"].apply(clacla).apply(pd.Series).unstack().reset_index(drop=True).dropna().values).items()),key = lambda x: x[1])

In [9]:
def sorted_bom(x):
    return sorted(list(Counter(rating_db[x].apply(clacla).apply(pd.Series).unstack().reset_index(drop=True).dropna().values).items()),key = lambda x: -x[1])

In [11]:
%%time
#Conversão dos diretores com apenas um filme para uma categoria "outros":

directors_per_movie = rating_db.Directors.apply(clacla).apply(pd.Series)
all_directors_contributions = sorted_bom("Directors")

#Diretores a serem trocados
others = []

#Identificação dos diretores com apenas uma contribuição
for director,contributions in all_directors_contributions:
    if int(contributions) == 1:
        others.append(director)

#Listando somente diretores com mais de 2 contribuições
official_directors = directors_per_movie.replace(others, "Outros")

Wall time: 1min 39s

In [32]:
# Descobrindo contagem de diretores "não-outros":
bob = list(official_directors.columns)
rating_db['Directors'] = official_directors[bob].apply(lambda x: ','.join(x[x.notnull()]), axis = 1)

rating_db.head(6)

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
5,5,6,Spider-Man: Into the Spider-Verse,2018,7+,8.4,97%,1,0,0,0,0,"Outros,Outros,Outros","Animation,Action,Adventure,Family,Sci-Fi",United States,"English,Spanish",117.0

In [21]:
# https://stackoverflow.com/questions/57469676/python-one-hot-encoding-for-comma-separated-values

In [46]:
%%time

new_df = pd.concat([rating_db.drop('Language', 1), rating_db['Language'].str.get_dummies(sep=",")], 1)
print("Rodou 1 coluna")
new_df = pd.concat([new_df.drop('Directors', 1), new_df['Directors'].str.get_dummies(sep=",")], 1)
print("Rodou 2 colunas")
new_df = pd.concat([new_df.drop('Genres', 1), new_df['Genres'].str.get_dummies(sep=",")], 1)
print("Rodou 3 colunas")
rating_db_tratado = pd.concat([new_df.drop('Country', 1), new_df['Country'].str.get_dummies(sep=",")], 1)
print("Rodou 4 colunas")

Wall time: 8min 10s
Compiler : 131 ms

In [47]:
rating_db_tratado.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,...,United States,Uruguay,Vanuatu,Venezuela,Vietnam,West Germany,Yemen,Yugoslavia,Zambia,Zimbabwe
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,...,1,0,0,0,0,0,0,0,0,0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,...,1,0,0,0,0,0,0,0,0,0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,...,1,0,0,0,0,0,0,0,0,0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,...,1,0,0,0,0,0,0,0,0,0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,...,0,0,0,0,0,1,0,0,0,0

In [ ]:
# https://stackoverflow.com/questions/37646473/how-could-i-do-one-hot-encoding-with-multiple-values-in-one-cell
# pd.DataFrame({"diretor":pd.Series(['2','1','3']).astype('category',categories = [sorted_bom("Directors")])})

In [ ]:
# directors = sorted(list(Counter(official_directors.unstack().reset_index(drop=True).dropna().values).items()),key = lambda x: -x[1])

In [ ]:
from sklearn.preprocessing import OneHotEncoder
#Hot-Encoder "manual" 

#DataFrame coluna de diretores
dir_df = pd.DataFrame([tpl[0] for tpl in directors])

#Encoder inicial para diretores
directors_encoder = OneHotEncoder(sparse=False)
dir_hot = directors_encoder.fit_transform(dir_df)


#Dicionário para relacionar diretor com seu respectivo código
dir_dict = dict(zip([tpl[0] for tpl in directors],dir_hot))
directors_transformed = official_directors.copy()

#Substituição dos diretores pelos respectivos códigos
for column in range(len(directors_transformed.columns)):
    for line in range(len(directors_transformed)):
        dct = directors_transformed.loc[line,column]
        try:
            directors_transformed.loc[line,column] = dir_dict[dct]
        except:
            #Caso seja uma linha cujo o diretor não é conhecido (nan), passa
            pass

#Soma-se os códigos para ter um único vetor contendo os códigos dos diretores
directors_transformed = directors_transformed.sum(axis=1).values        

#Substituição do vetor código no lugar dos nomes dos diretores
dir_final_convertion = []
for i in range(len(directors_transformed )):
    try:
        #Há casos em que a categoria "outros" aparece mais de uma vez. Logo, converte-se o valor para 1
        dir_final_convertion.append([*map(lambda x: int(x > 0), directors_transformed[i])])
    except:
        dir_final_convertion.append(np.nan)
rating_db_2 = rating_db.copy()
rating_db_2['Directors'] = dir_final_convertion
rating_db_2.head()

In [ ]:
list(rating_db_2.loc[1,'Directors']).index(1), list(rating_db_2.loc[1,'Directors'])[1625]

In [ ]:
sum(list(rating_db_2.loc[1,'Directors']))

In [ ]:
rating_db.loc[1,'Directors']

In [ ]:
list(dir_dict['Lana Wachowski']).index(1), list(dir_dict['Lilly Wachowski']).index(1)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
country = rating_db[["Country"]]
genres = sorted_bom("Genres")

# pipe_sorted = Pipeline([
#     ("Country", OneHotEncoder(sparse = False),
#     ("Genres", OneHotEncoder(sparse = False),
#     ("Director", OneHotEncoder)
# ])

encoder = OneHotEncoder(categories="auto")
rating_db_1hot = encoder.fit_transform(genres)

In [ ]:
rating_db_1hot = encoder.fit_transform(genres)

In [ ]:
print(rating_db_1hot.toarray()[:5])

In [ ]:
cat_pipeline = Pipeline([
    ("cat_encoder", OneHotEncoder(sparse=False)),
])
housing_cat_tr = cat_pipeline.fit_transform(rating_db)

In [ ]:
cat_attribs = ["Country"]
genres = sorted_bom("Genres")
directors = sorted(list(Counter(official_directors.unstack().reset_index(drop=True).dropna().values).items()),key = lambda x: -x[1])

full_pipeline = ColumnTransformer([
    ("cat", OneHotEncoder(sparse = False), cat_attribs),
    ("aaa_n_sei", OneHotEncoder(sparse = False), genres),
])

In [ ]:
genres

In [ ]:
rating_db_prepared = full_pipeline.fit_transform(rating_db)

In [ ]:
rating_db_prepared[0]

In [ ]:
# Exclui colunas não categóricas
rating_db_v2 = rating_db.drop(columns = ["ID", "Title", "IMDb", "Rotten Tomatoes", "Country", "Genres", "Directors", "Type"])
# Language, Age

In [ ]:
rating_db_v2